// Place all the styles related to the stackparsing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    body
      {
        background: url("http://info.pipa.co.kr/files/attach/images/180/263/027/8ae44194225f3da53a52e3e4aacebf2b.jpg") no-repeat center center fixed; 
      	-webkit-background-size: cover;
      	-moz-background-size: cover;
      	-o-background-size: cover;
      	background-size: cover;
      }
      
      .centered
    {
        text-align:center;
    }